body, html {
    height: 100%;
    margin: 0;
    color: rgb(235, 215, 39);
  }
  
  .bg {
    /* The image used */
    background-image: url(../images/sonic3.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .bordertest {
   border: 1px solid white;
} */

#crystal1:hover {
    box-shadow: 1px 0px 5px 7px rgb(0, 172, 240) inset;
    cursor: pointer;
}

#crystal2:hover {
    box-shadow: 1px 0px 5px 9px rgb(255, 208, 0) inset;
    cursor: pointer;
}

#crystal3:hover {
    box-shadow: 1px 0px 5px 5px rgb(28, 180, 135) inset;
    cursor: pointer;
}

#crystal4:hover {
    box-shadow: 1px 0px 5px 9px rgb(168, 58, 8) inset;
    cursor: pointer;
}

#crystal5 {
    position: relative;
    top:12%;
    height:33px;
}

#crystal5:hover {
    box-shadow: 1px 0px 5px 7px rgb(5, 100, 17) inset;
    cursor: pointer;
}

#crystal6:hover {
    box-shadow: 1px 0px 5px 9px rgb(170, 6, 175) inset;
    cursor: pointer;
}

#crystal7:hover {
    box-shadow: 1px 0px 5px 5px rgb(243, 252, 249) inset;
    cursor: pointer;
}

#crystal8:hover {
    box-shadow: 1px 0px 5px 9px rgb(19, 2, 36) inset;
    cursor: pointer;
}

#target-score {
    font-size: 35px;
}

#your-score {
    font-size: 35px;
}

#rings {
    width: 50%;
    height: 67%;
    position: absolute;
    top: 28%;
    right: 5%;
    display: none;
}

#start {
    position: relative;
    left:40%;
    top: 20%;
}